@model TestQuest.DataAccess.TestDto;

@{
    ViewData["Title"] = "Create Test";
}

@section Scripts
{
    <script>
        let questionCount = 1;
        let questionOption = 1;
        let questionCategory = 1;
        const addQuestionButton = document.getElementById("addQuestionButton");
        const questionContainer = document.getElementById("questionContainer");
        const addOptionButton = document.getElementById("addOptionButton");
        const optionContainer = document.getElementById("optionContainer");

        const addCategoryButton = document.getElementById("addCategoryButton");
        const categoryContainer = document.getElementById("categoryContainer")

        addQuestionButton.addEventListener("click", function () {
            questionCount++;

            const questionHtml = `
                <div id="question${questionCount}" class="question">
                    <h2>Question ${questionCount}</h2>
                    <label for="question${questionCount}-text">Question Text:</label>
                    <input id="question${questionCount}-text" type="text" name="Questions[${questionCount - 1}].Question" required />

                    <label for="question${questionCount}-answer">Answer:</label>
                    <input id="question${questionCount}-answer" type="text" name="Questions[${questionCount - 1}].Answer" required />

                <div id="optionContainer">
                    <label for="question${questionCount}-option">Option 1</label>
                    <input id="question${questionCount}-option" type="text" name="Questions[${questionCount - 1}].Options[0].Option"/>
                </div>
                    <button type="button" id="addOptionButton">Add option</button>
                </div>
            `;

            questionContainer.insertAdjacentHTML("beforeend", questionHtml);

        });

        addOptionButton.addEventListener("click", function(){
            questionOption++;
            const optionHtml = `
                <label for="question${questionCount}-option">Option ${questionOption}</label>
                <input id="question${questionCount}-option" type="text" name="Questions[${questionCount - 1}].Options[${questionOption - 1}].Option"/>
            `
            optionContainer.insertAdjacentHTML("beforeend", optionHtml);
        });

        addCategoryButton.addEventListener("click", function(){
            questionCategory++;
            const categoryHtml= `
                <label for="category${questionCategory}-text">Category ${questionCategory}</label>
                <input id="category${questionCategory}-text" type="text" name="Category[${questionCategory-1}].Category" required />
            `
            categoryContainer.insertAdjacentHTML("beforeend", categoryHtml);
        });
    </script>
}

<label><h1>Create Test</h1></label>
<form method="post">
    <div>
        <label for="name">Name:</label>
        <input id="name" type="text" name="Name" required />
    </div>

    <div>
        <label for="difficulty">Difficulty:</label>
        <select id="difficulty" name="Difficulty" required>
            <option value="0">VeryEasy</option>
            <option value="1">Easy</option>
            <option value="2">Medium</option>
            <option value="3">Hard</option>
            <option value="4">VeryHard</option>
            <option value="5">Impossible</option>
        </select>
    </div>

    <div>
        <label for="timeLimit">Time Limit:</label>
        <input id="timeLimit" type="number" name="TimeLimit" required />
    </div>

    <div>
        <label for="ageLimit">Age Limit:</label>
        <input id="ageLimit" type="number" name="AgeLimit" required />
    </div>

    <label><h2>Questions</h2></label>
    
    <div id="questionContainer">
        <div id="question0" class="question">
            <h2>Question 1</h2>
            <label for="question0-text">Question Text:</label>
            <input id="question0-text" type="text" name="Questions[0].Question" required />

            <label for="question0-answer">Answer:</label>
            <input id="question0-answer" type="text" name="Questions[0].Answer" required />

            <div id="optionContainer">
                <label for="question0-option">Option 1</label>
                <input id="question0-option" type="text" name="Questions[0].Options[0].Option"/>
            </div>
            <button type="button" id="addOptionButton">Add option</button>
        </div>
    </div>

    <button type="button" id="addQuestionButton">Add Another Question</button>

    <div>
        <label for="description">Description:</label>
        <textarea id="description" name="Description" required></textarea>
    </div>

    <label><h2>Categories:</h2></label>
    <div id="categoryContainer">
        <label for="category0-text">Category 1</label>
        <input id="category0-text" type="text" name="Category[0].Category" required />
    </div>
        <button type="button" id="addCategoryButton">Add Category</button>
    <button type="submit">Create</button>
</form>

<style>
.question {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 60px; /* Смещение на 60px вправо */
}

.question h2 {
  margin: 0;
  font-size: 18px;
  margin-left: 60px;
}
.categoryContainer {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 60px; /* Смещение на 60px вправо */
}

.categoryContainer h2 {
  margin: 0;
  font-size: 18px;
  margin-left: 60px;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-left: 60px; /* Смещение на 60px вправо */
}

input,
select,
textarea {
  width: 300px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 60px; /* Смещение на 60px вправо */
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 60px; /* Смещение на 60px вправо */
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}

button[type="submit"] {
  background-color: #008CBA;
}

button[type="submit"]:hover {
  background-color: #0077A7;
}

button[type="submit"]:active {
  background-color: #005e87;
}

</style>
@* @model TestQuest.DataAccess.TestDto;

@{
    ViewData["Title"] = "Create test";
}

@section Scripts
{
    <script>
        let question = 0;

        const divId = document.getElementById(`question${question}`);
        const but = document.getElementById("firstbutton");

        but.onclick = function() {
            question++;

            const addQuestion = `
                <div id="question${question}">
                    <form method="post">
                        <label for="name">Name</label>
                        <input type="text" name="name"/> 

                        <label for="timelimit">Time limit</label>
                        <input type="text" name="timelimit"/> 

                        <label for="totalquestions">Total question</label>
                        <input type="text" name="totalquestions"/> 

                        <label for="authorid">Author id</label>
                        <input type="text" name="authorid"/> 

                        <label for="agelimit">Age limit</label>
                        <input type="text" name="agelimit"/> 

                        <label for="description">Description</label>
                        <input type="text" name="description"/> 
                        <input type="submit" name="description"/> 
                    </form>
                </div>
            `;
        divId.insertAdjacentHTML('beforeend', addQuestion);
        }

    </script>
}

<div id="question0">
    <form method="post">
        
        <label for="name">Name</label>
        <input type="text" name="name"/> 

        <label for="timelimit">Time limit</label>
        <input type="text" name="timelimit"/> 

        <label for="totalquestions">Total question</label>
        <input type="text" name="totalquestions"/> 

        <label for="authorid">Author id</label>
        <input type="text" name="authorid"/> 

        <label for="agelimit">Age limit</label>
        <input type="text" name="agelimit"/> 

        <label for="description">Description</label>
        <input type="text" name="description"/> 
        <input type="submit" name="description"/> 
    </form>
</div>
<button type="button" id="firstbutton">ANother</button> *@